.buscador{
  width: 100%;
  padding: 50px 0;
  min-height: 50vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buscador input{
  width: 50%;
  margin-top: 15px;
  padding: 10px 15px;
}
.buscador-boton{
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  background-color: gray;
  margin-top: 15px;
  font-weight: bold;
}
.buscador-boton:hover{
  opacity: 90%;
}
@media (max-width:572px){
  .buscador{
    text-align: center;
  }
  .buscador input{
    width: 90%;
  }
}