#servicios{
  background-color: var(--azul);
}
.card-servicios{
  width: 100%;
  background-color: var(--blanco);
  border-radius: 10px;
  border: none;
  padding: 15px 5px 0px;
}
.servicios-titulo{
  color: var(--azul-oscuro);
}
.servicios-texto h4, h3, ul, li {
  color: var(--azul-oscuro);
  font-weight: 600;
}
@media (max-width:572px){
  .card-servicios{
    padding: 15px 10px 0px;
  }
}