.boton-reparacion-editar{
  border: none;
  width: 100vh;
  border-bottom: 1px solid var(--azul);
  font-weight: bold;
  outline: none;
}
.reparacion-input:focus-visible{
  outline: none;
  border: none;
}